<f:layout name="Default" />
<f:section name="main">

    <f:if condition="{aSettings.oHiveCptCntBsBtn.main.btnGroup} != ''">
        <f:then>
            <div class="{aSettings.oHiveCptCntBsBtn.main.btnGroup} {aSettings.oHiveCptCntBsBtn.main.btnGroupSize}">
                <f:render section="buttons" arguments="{oButtons: oButtons}" />
            </div>
        </f:then>
        <f:else>
            <f:render section="buttons" arguments="{oButtons: oButtons}" />
        </f:else>
    </f:if>

</f:section>

<f:section name="buttons">

    <f:for each="{oButtons}" as="oButton" iteration="i">
        <f:link.typolink parameter="{oButton.link}"
                         class="btn {oButton.classColor} {oButton.classSize} {oButton.classAdditional} {f:if(then: 'btn-block', else: '', condition: oButton.justify)}"
                         additionalAttributes="{alt: '{oButton.alternative}', title: '{oButton.title}'}">
            <f:if condition="{oButton.classGlyphicon} != ''">
                <span class="glyphicon glyphicon-{oButton.classGlyphicon}" aria-hidden="true"></span>
            </f:if>
            {oButton.value}
        </f:link.typolink>
    </f:for>

</f:section>

